{% extends 'base.html.twig' %}

{% block title %}Create dynamic form page!{% endblock %}

{% set attribute_option_prototype = form_widget(form.fields.vars.prototype.children.fieldAttributes.children.options.vars.prototype) %}
{% set fields_prototype = form_widget(form.fields.vars.prototype) %}

{% block body %}
    {{ parent() }}
    <div class="container form-container">
        {{ form_start(form) }}
        <input type="hidden" name="fields_prototype" value="{{ fields_prototype }}"/>
        <input type="hidden" name="attribute_option_prototype" value="{{ attribute_option_prototype }}"/>

        <div id="fields_container">
            {{ form_row(form.name) }}
            <div class="field-row">

                {{ fields_prototype | replace({'__name__':0})| raw }}
            </div>
            <hr/>

            <button id="add_row" class="btn btn-secondary btn-sm" type="button">Ajouter un champ</button>
            <button id="save" class="btn btn-primary btn-sm" type="submit">Sauvegarder</button>
        </div>
        {{ form_row(form._token) }}

        {{ form_end(form, {render_rest: false}) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('generic_form') }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('generic_form') }}
{% endblock %}