{% extends 'base.html.twig' %}

{% block title %}Hello FormController!{% endblock %}
{% set prototype = form_widget(form.fields.vars.prototype) %}

{% block body %}


    <div class="container form-container">
        {{ form_start(form) }}
        <input type="hidden" name="prototype" value="{{ prototype }}"/>

        <div id="fields_container">
            <div class="field-row">
                {{ form_row(form.name) }}
                {{ prototype | replace({'__name__':0})| raw }}
            </div>
            <hr/>

            <button id="add_row" class="btn btn-secondary btn-sm" type="button">Ajouter un champ</button>
        </div>
        {{ form_row(form._token) }}

        {{ form_end(form, {render_rest: false}) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('generic_form') }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('generic_form') }}
{% endblock %}