{% extends 'base.html.twig' %}
{% block title %}Forms listing{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container">
        {% if listForms | length >0 %}
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    List of forms
                </a>
                {% for form in listForms  %}
                    <a href="{{ path('view_form', {'slug': form.slug}) }}" class="list-group-item list-group-item-action">{{ form.name }} ({{ form.fields|length ~ ' field[s]'}} )</a>
                {% endfor %}

            </div>
        {% endif %}
        <a href="{{ path('create_form') }}" class="btn btn-secondary btn-sm mt-5">Create a form page</a>
    </div>
{% endblock %}